CONFIG_ESP_HTTP_CLIENT_ENABLE_HTTPS=n
CONFIG_HTTP_BUF_SIZE=1024
CONFIG_MQTT_TRANSPORT_SSL=n
CONFIG_PARTITION_TABLE_TWO_OTA=y

CONFIG_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESPTOOLPY_BAUD_115200B=y
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_BAUD=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
